<section class="panel panel-default">
    <!-- Default panel contents -->
<article class="panel-heading">Panel heading</article>
<article class="panel-body">
    <p>...</p>
</article>
<!-- List group -->
<section class="list-group">
    <a href="#" class="list-group-item active">
        <article class="panel panel-default">
            <header class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </header>
            <section class="panel-body">
                Panel content
            </section>
        <footer class="panel-footer">Panel footer</footer>
    </article>
</a>
</section>
</section>