<header class="Title">
    <h1>Exchange your Time</h1>
    <h2>Exchange your time with other people and learn new knowledges, experiences and skills</h2>
</header>
<article class="SignIn" ng-controller="scripts/controllers/SingInCtrl">
    <form>
        <input type="email" name="iEmail" value="" placeholder="Email address" autofocus ng-model="iEmail">
        <input type="password" name="iPassword" value="" placeholder="Password" ng-model="iPassword">
        <input type="submit" name="bSign" value="Sign in">
        <div>Not a member? <a href="newUser.html">Join now</a></div>
    </form>
</article>